/* ================= HERO ================= */
.hero-section {
  padding: 150px 0 0;
  text-align: center;
  background: linear-gradient(180deg, #09090b 0%, #000000 51.44%, #191818 100%);
}
.hero-card {
  max-width: 745px;
  width: 100%;
  margin: 0 auto;
}
.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.hero-subtitle {
  color: #a1a1aa;
  max-width: 720px;
  margin: 25px auto 44px;
  font-size: 16px;
}

.hero-buttons .btn {
  margin: 6px;
  padding: 12px 22px;
  border-radius: 10px;
  background: #ea580c;
  border: 1px solid #ea580c;
}
.hero-buttons .outline {
  margin: 6px;
  padding: 12px 22px;
  border-radius: 10px;
  border: 1px solid #666666;
  background: transparent;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.hero-buttons .outline:hover {
  background: #ea580c;
  color: #ffffff;
  border: 1px solid #ea580c;
}

.hero-buttons .btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

/* Demo card */
.demo-card {
  margin-bottom: -230px;
  border-radius: 14px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  padding-top: 40px;
}

@media screen and (max-width:1199px){
    .hero-buttons .outline {
    font-size: 12px;
}
}
@media screen and (max-width:768px){
    .hero-section {
    padding: 100px 0 0;
}
.hero-title {
    font-size: 24px;
}
}
