@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #09090b;
  --font-color: #a1a1aa;
  --font-white: #ffffff;
  --bg-orange: #ea580c;
  --bg-green: #22c55e;
  --bg-purple: #a855f7;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: var(--primary-bg-color);
  color: var(--font-color);
}
a:focus-visible {
  outline: 0;
}

/* ================= FEATURES SECTION ================= */

.features-bg {
  background: #161515;
  padding: 40px;
  border-radius: 4px;
}
.features-section {
  /* background: #05070c; */
  background: #09090B;
  color: #fff;
  padding: 90px 0;
  padding-top: 311px;
}

.features-section-title {
  font-size: 36px;
  font-weight: 600;
}

.section-desc {
  color: #a1a1aa;
  font-size: 16px;
  font-weight: 400;
}

/* cards */

.featured-card-bg {
  background: #2f2d2c;
  border-radius: 10px;
  padding: 32px;
}
.feature-card {
  background: #111114;
  border-radius: 14px;
  padding: 28px;
  height: 100%;
  transition: 0.35s;
  border: 1px solid #1b1f2a;
}

.feature-card:hover {
  transform: translateY(-6px);
  border-color: var(--bg-orange);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

/* large cards */

.large-card h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 17px 0 10px;
}

.large-card p {
  color: #a1a1aa;
}

.badge-tag {
  background: #3b3939;
  padding: 10px 10px 10px 0;
  border-radius: 5px;
  font-size: 12px;
  color: #ff7a3c;
  width: fit-content;
  color: #ffffff;
}
.heart-icon {
  padding: 10px;
  background: var(--bg-orange);
  color: #ffffff;
  border-radius: 5px 0px 0 5px;
}
.pro {
  padding: 10px;
}

.learn-btn {
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #666666;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.learn-btn:hover {
  color: #ea580c;
  border: 1px solid #ea580c;
}

/* small cards */
.small-card h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 12px;
}

.small-card p {
  color: var(--font-color);
  font-size: 14px;
}

/* icon */
.icon-box {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: #2f2d2c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--font-white);
}

/* ========= stats Section ========== */
.stats-section {
  /* background: #05070c; */
  background: #09090B;
  padding: 80px 0 0;
  color: #fff;
}

.stats-title {
  font-size: 34px;
  font-weight: 700;
}

/* stat box */
.stat-box {
  padding: 20px;
  transition: all 0.35s ease;
}

.stat-box:hover {
  transform: translateY(-6px);
}

/* numbers */
.stat-number {
  font-size: 36px;
  font-weight: 700;
  color: #ea580c; /* orange highlight */
  margin-bottom: 8px;
}

/* text */
.stat-text {
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
}
.display-4 {
  font-size: 40px;
  color: var(--bg-orange);
  font-weight: 600;
}

/* ================= PRICING ================= */

/* SECTION */
.pricing-tabs-section {
  /* background: #05070c; */
  background: #09090B;
  padding: 90px 0;
  color: #fff;
}

.pricing-title {
  font-weight: 600;
  font-size: 36px;
  color: currentColor;
}

.pricing-subtitle {
  max-width: 415px;
  margin: 24px auto 50px;
  color: var(--font-color);
  font-size: 14px;
}

/* TAB BUTTONS */
.pricing-tabs {
  background: #161515;
  padding: 5px;
  border-radius: 8px;
  display: inline-flex;
}

.pricing-tabs .nav-link {
  color: #f6f6f7;
  border-radius: 6px;
  padding: 8px 20px;
}

.pricing-tabs .nav-link.active {
  background: #535151;
  color: #f6f6f7;
  font-size: 16px;
  font-weight: 600;
}
.save-text {
  font-size: 10px;
  opacity: 0.9;
  position: relative;
  vertical-align: baseline;
}

/* CARD */
.price-card {
  background: #0c1018;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #1b1f2a;
  transition: 0.35s;
}

.price-card:hover {
  transform: translateY(-8px);
}

.plan-head {
  text-align: center;
  padding: 22px;
  font-size: 18px;
  font-weight: 700;
}

.green {
  background: var(--bg-green);
}
.border-green {
  border: 1px solid var(--bg-green);
}
.border-orange {
  border: 1px solid var(--bg-orange);
}
.border-purple {
  border: 1px solid var(--bg-purple);
}
.orange {
  background: var(--bg-orange);
}
.purple {
  background: var(--bg-purple);
}

.price-body {
  padding: 30px;
  text-align: left;
}

.price-body h2 {
  font-size: 40px;
  font-weight: 700;
}

.plan-tag {
  background: #f1f1f1;
  padding: 5px 13px;
  border-radius: 6px;
  font-size: 12px;
  color: #000b33;
  font-weight: 600;
}
.pro-text {
  margin-top: 15px;
}
.pro-text p {
  font-size: 14px;
  color: currentColor;
  font-weight: 300;
}
.forever-boder {
  border-top: 1px solid var(--font-white);
  border-bottom: 1px solid var(--font-white);
}
.forever-boder p {
  font-size: 14px;
}
.price-body ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.price-body li {
  margin-bottom: 10px;
  color: #9aa0a6;
  position: relative;
  padding-left: 24px;
  font-size: 14px;
}
.price-body li::before {
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  background: var(--font-white);
  color: #111114;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 900;
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
}
.price-btn {
  font-size: 14px;
  padding: 8px;
}
.core-head {
  font-size: 16px;
  font-weight: 600;
  color: currentColor;
  margin-top: 20px;
}
/* PLUS section container */
.plus-wrapper {
  background: #1b1b1f;
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

/* PLUS label */
.plus-title {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Highlight card */
.plus-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  color: #fff;
  transition: 0.3s ease;
}

/* ICON */
.plus-icon {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* TEXT */
.plus-content h6 {
  font-size: 13px;
  margin: 0;
  font-weight: 600;
}

.plus-content small {
  font-size: 11px;
  opacity: 0.85;
}

/* ORANGE VERSION (Most Popular) */
.plus-box.orange {
  background: var(--bg-orange);
}

/* PURPLE VERSION (Premium) */
.plus-box.purple {
  background: var(--bg-purple);
}

/* Hover effect */
.plus-box:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.subscribe-btn {
  background: #2f2d2c;
  color: #fff;
  border-radius: 8px;
  padding: 6px;
  border: 0;
  transition: 0.3s;
  font-size: 14px;
}

.subscribe-btn:hover {
  background: var(--bg-orange);
}
.purple-btn:hover {
  background: var(--bg-purple);
}
.manage {
  margin-top: 50px;
}

/* POPULAR CARD BORDER */
.popular {
  border: 2px solid #ea580c;
}

/* ================= FEATURES SUMMARY  ================= */

.rewards-box {
  background: #0f1117;
  border-radius: 18px;
  padding: 45px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.badge-label {
  background: #ff5a1f;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 15px;
}

.section-title {
  color: #fff;
  font-weight: 600;
}

.section-text {
  color: #a1a1aa;
  font-size: 14px;
  max-width: 416px;
  margin: 0 auto;
}

.reward-card {
  background: #14161d;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}
.reward-card h6 {
  font-size: 20px;
  color: #f6f6f7;
  font-weight: 600;
}
.reward-card p {
  font-size: 14px;
}

.reward-card:hover {
  transform: translateY(-4px);
  background: #181b23;
}

.icon-box {
  width: 26px;
  height: 26px;
  background: #22c55e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
}
/* ========= */

/* ======= HOW IT WORKS ====== */
.how-box {
  background: #0f1117;
  padding: 50px;
  border-radius: 18px;
}

.step-card {
  text-align: center;
}

.step-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #1b1e26;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  position: relative;
}

.step-icon::after {
    content: "1";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: -4px;
    right: 6px;
    color: #000;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========== READY TO SIMPLIFY ========== */
.cta-box {
  background: #0f1117;
  border-radius: 18px;
  padding: 45px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.btn-cta {
  border: 1px solid #ff5a1f;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-cta:hover {
  background: #ff5a1f;
  color: var(--font-white);
}
.ready-text{
    max-width: 495px;
    font-size: 14px;
    color: var(--font-color);
}
/* responsive */
@media (max-width: 992px) {
  .section-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

/* responsive */
@media (max-width: 768px) {
  .stats-title {
    font-size: 26px;
  }

  .stat-number {
    font-size: 30px;
  }

  /* =====pricing ====== */
  .price-body {
    text-align: center;
  }
  .features-bg {
    padding: 20px;
}
.features-section-title {
    font-size: 20px;
}
.featured-card-bg {
    padding: 10px;
}
}


